<?xml version="1.0"?>
<config>
    <modules>
        <Ak_NovaPoshta>
            <version>0.1.0</version>
        </Ak_NovaPoshta>
    </modules>
    <global>
        <models>
            <novaposhta>
                <class>Ak_NovaPoshta_Model</class>
            </novaposhta>
        </models>
        <blocks>
            <novaposhta>
                <class>Ak_NovaPoshta_Block</class>
            </novaposhta>
        </blocks>
        <helpers>
            <novaposhta>
                <class>Ak_NovaPoshta_Helper</class>
            </novaposhta>
        </helpers>
        <resources>
            <novaposhta_setup>
                <setup>
                    <module>Ak_NovaPoshta</module>
                </setup>
            </novaposhta_setup>
        </resources>
    </global>
    <default>
        <carriers>
            <novaposhta>
                <!-- disabled by default not to propose unconfigured shipping method to customer -->
                <active>0</active>
                <!-- allow only for specific countries flag -->
                <sallowspecific>1</sallowspecific>
                <!-- allow only for Ukraine -->
                <specificcountry>UA</specificcountry>
                <!-- carrier model -->
                <model>novaposhta/carrier_novaPoshta</model>
                <!-- carrier title -->
                <title>Новая Почта</title>
                <!-- error message -->
                <specificerrmsg>Этот способ доставки на текущий момент не доступен. Если вы желаете, чтобы мы доставили заказ Новой Почтой, обратитесь к менеджеру интернет-магазина.</specificerrmsg>
            </novaposhta>
        </carriers>
    </default>
</config>